.asc, .desc {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  margin-left: 5px;
}

.asc {
  background-position: -288px -120px;
}

.desc {
  background-position: -313px -119px;
}

.information > span {
  margin-right: 20px;
}

.information > span:last-child {
  margin-right: 0;
}
